:root{
  --font-color-bright: #E4E3FF;
  --font-color-dark: #4D4A74;
  --bg-gradient-bright: 90deg, #C9C8FF, #FFF0FB;
  --bg-color-dark: #3D3C5A; 
  --font-bright-opacity: rgba(228, 227, 255, 0.5);
  /* --bg-color-dark-opacity: rgba(28, 20, 51, 0.4);  */
  --bg-dark-opacity-light: rgba(28, 20, 51, 0.4); 
  --bg-dark-opacity-normal: rgba(28, 20, 51, 0.6); 
  --bg-dark-opacity-almax: rgba(28, 20, 51, 0.8); 
  --bg-day: rgba(21, 13, 45, 0.6);
  --bg-day-weekend: rgba(63, 8, 8, 0.6);
}


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li{
  text-decoration: none;
  list-style: none;
  color: var(--font-color-bright, #E4E3FF);
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--bg-color-dark, #3D3C5A);
  color: var(--font-color-bright, #E4E3FF);
}

.container{
  margin: auto;
  min-width: 300px;
  max-width: 1020px;
  width: 90%;
} 

header{
  position: fixed;
  top: 0px;
  width: 100%;
  background: var(--bg-dark-opacity-almax);
  transition: all .5s ease-in-out .3s;
}

nav{
  align-items: center;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-between;
  /* font-style: oblique; */
}

.Link{
  position: relative;
}

.Link::before{
  content: '';
  position: absolute; 
  height: 1px;
  width:0%;
  background: var(--font-bright-opacity, rgba(228, 227, 255, 0.6));
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease-in-out .2s;
}

.Link::after{
  content: '';
  position: absolute; 
  height: 1px;
  width:0%;
  background: var(--font-bright-opacity, rgba(228, 227, 255, 0.6));
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease-in-out .2s;
}

.Link:hover::before{
  content: '';
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.Link:hover::after{
  content: '';
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.btn{
  border: none;
  padding: .5rem 1rem;
  width: 8rem;
  border-radius: .3rem;
  color: var(--font-color-bright, #E4E3FF);
  cursor: pointer;
}

.logo{
  font-style: italic;
  font-size: 2rem;
}

.welcome-s{
  padding: 6rem 0 4rem;
  /* background: url('./img/bg-light-wavy.svg') left bottom no-repeat;
  background-size: 100% 100%; */
  background: linear-gradient(var(--bg-gradient-bright, #C9C8FF));
  min-height: 100%;
}

.welcome-title{
  color: #7B73D3; 
}

.title-logo{
  color: #634AAC;
}

.welcome-s-content{
  margin-top: 2rem;
  display:flex;
  flex-wrap:wrap-reverse ;
  justify-content: center;
  align-items: center;
}

.welcome-btn{
  align-self: flex-end;
  background: #F4A100;
  font-size: 1.2rem;
}

.welcome-content-left{
  margin: 2rem;
  font-family: 'Poppins light', sans-serif;
  letter-spacing: .5px;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.welcome-content-right{
  display: flexbox;
  flex-shrink: calc(400px);
  min-width:400px;
  width: 50%;
}

/* Main section styles */

.calendar-items-container{
  display: flex;
  /* flex-wrap: wrap; */
}

.main-section{
  /* background: linear-gradient(90deg, #4C4A9E, #732C5F); */
  background: linear-gradient(90deg, #9493eb, #c169cd);
  width: 100%;
  height: 100%;
  min-height: 80vh;
  padding: 3rem 0;
}

.main-section-title{
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 3rem;
}

.calendar{
  max-width: 1000px;
  width: 80%;
  min-width: 500px;
  margin: auto;
  position: relative;
  z-index: 1;
}

.calendar-absolute-bg{
  position: absolute;
  z-index: -1;
  top: 0;
  width:100%;
  height:400px;
  border-radius: .7rem;
  background: var(--bg-dark-opacity-light, rgba(0, 0, 50, 0.3));
}

.calendar-header{
  background: var(--bg-dark-opacity-normal, rgba(0, 0, 50, 0.3));
  border-radius: .7rem;
  padding: .4rem;
  text-transform: uppercase;
  font-family: 'Poppins light', sans-serif;
  font-size: 1.7rem;
  letter-spacing: 10px;
}

.calendar-table-inner{
  padding: .6rem;
  border-radius: .3rem;
  background: var(--bg-dark-opacity-light, rgba(0, 0, 50, 0.3));
  margin: 1rem 1rem 0 -5vw;
  width: 100%;
  height: fit-content;
  max-width: 700px;
  min-width:400px;
  transition: all 0.3s ease-in-out;
}

.calendar-table-inner:hover{
  transform: scale(1.05)translate(-10px, 10px);
}  

.react-calendar__navigation *{
  font-size: 1.6rem;
}

.react-calendar__navigation{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background:var(--bg-dark-opacity-light, rgba(0, 0, 50, 0.3));
  border-radius: .3rem;
  justify-content: space-between;
  transition: all .3s ease-in-out;
}
.react-calendar__navigation:hover{
  transform: scale(1.05)translateY(-5px);
  background:var(--bg-dark-opacity-normal, rgba(0, 0, 50, 0.3));
}
.react-calendar__navigation button{
  width: 4rem;
  border: none;
  padding: .2rem;
  background:var(--bg-dark-opacity-zero, rgba(0, 0, 50, 0));
  border-radius: .3rem;
  color: inherit;
  transition: all .2s ease-in;
}

.react-calendar__navigation button:hover{
  background:var(--bg-dark-opacity-almax, rgba(0, 0, 50, 0.4));
  transform: scale(1.1);
}

.react-calendar__navigation__label{
  padding: .2rem;
  background:var(--bg-dark-opacity-normal, rgba(0, 0, 50, 0.3));
  border-radius: .3rem;
  pointer-events: none;
}

.react-calendar__month-view__weekdays *{
  text-decoration: none;
}

.react-calendar__month-view__days{
  background: var(--bg-dark-opacity-light, rgba(0, 0, 50, 0.3));
  border-radius: .3rem;
  padding: .6rem;
  width: 100%;
  flex-flow: row;
  transition: all .3s ease-in-out;
}

.react-calendar__month-view__days:hover{
  transform: scale(1.05)translate(-10px, 10px);
}


.react-calendar__month-view__days__day{
  background: var(--bg-day, rgba(0, 0, 50, 0.3));
}

.react-calendar__month-view__days__day--weekend{
  background: var(--bg-day-weekend, rgba(0, 0, 50, 0.3));
}

.react-calendar__tile--active::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  background: rgba(179, 125, 255, 0.5);
  z-index: -1;
  transition: all .3s ease-in-out;
}

.react-calendar__tile--active:hover::before{
  background: rgba(179, 125, 255, 0.1);
}

.theresTasks:hover::after{
  background:rgb(120, 255, 230, 0);
}

.theresTasks::after{
  content: '';
  position: absolute;
  background:rgb(143, 120, 255);
  right: 0;
  top: 0;
  border-bottom-left-radius: 50%;
  padding: .5rem;
  transition: all .1s ease-in-out;
}

.react-calendar__month-view__days button{
  font-family: 'Poppins';
  font-size: 1.6rem;
  font-weight: bolder;
  border-radius: .3rem;
  color: inherit;
  width: 4rem;
  height: 4rem;
  padding: .1rem 0;
  cursor: pointer;
  transform: scale(.96);
  border: none;
  transition: all .2s ease-in;
}

.react-calendar__month-view__days__day:hover, 
.react-calendar__month-view__days__day--weekend:hover{
  transform: scale(1.5);
  background: none;
  z-index: 1;
}

.react-calendar__month-view__days__day:active, 
.react-calendar__month-view__days__day--weekend:active{
  transform: scale(.9);
  background: var(--bg-dark-opacity-almax);
  color: var(--font-color-bright);
}

/* Main calendar TasksMenu styles*/

.tasks{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  width: 60%;
  height: 100%;
  max-height: 500px;
  margin: 1rem -5vw 0 0;
  padding: .6rem;
  border-radius: .3rem;
  background:var(--bg-dark-opacity-light, rgba(0, 0, 50, 0.3));
  overflow: hidden;
  transition: all .4s ease-in-out;
}

.tasksWrapper{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding-right: 25px;
  box-sizing: content-box;
}

.tasks:hover{
  transform: scale(1.1)translate(10px, 18px);
}

.task{
  display: block;
  text-align: left;
  width: 100%;
  padding: .6rem;
  border-radius: .3rem;
  background:var(--bg-dark-opacity-normal, rgba(0, 0, 50, 0.3));
  position: relative;
  transition: all .2s ease-in-out;
  margin: .3rem 0;
}

.task-remind{
  /* background: linear-gradient(90deg, rgba(119, 0, 255, 0.4), rgba(242, 0, 255, 0.1)) */
  border-left: 2px solid rgb(136, 255, 0);
}

.task:hover{
  transform: scale(1.05)translateX(10px);
}

.task-date{
  font-style: italic;
  color: rgb(86, 255, 168, .4);
}

.createTaskBtn{
  display: block;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  width: 95%;
  padding: 1.3rem 0 1.3rem 0;
  margin: .4rem 0;
  border-radius: .1rem;
  background: var(--bg-dark-opacity-normal);
  transition: all .2s ease-in;
}

.createTaskBtn:hover{
  background: var(--bg-dark-opacity-almax);
  transform: scale(1.05)translateX(10px);
}

.fa-skull{
  position: absolute;
  right: 1rem;
  top: 50%;
  color:rgb(110, 249, 72); 
  transform: translateY(-50%);
  /* margin: 1rem 1rem 0 0; */
  font-size: 1.5rem;
  cursor: pointer;
  transition: all .1s ease-in;
}

.fa-skull:hover{
  transform: scale(1.2)translateY(-50%);
}

/* Add new task */
.add-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: .6rem;
  border-radius: .3rem;
  background:var(--bg-dark-opacity-normal, rgba(0, 0, 50, 0.3));
}


.form-control{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.sign-log-btn{
  background: none;
  align-self: center;
  border-radius: .5rem .5rem 0 0  ;
  border: 1px solid rgba(245, 245, 245, 0.3);
  border-bottom: none;
  transition: transform .2s ease-in-out;
}

.sign-log-btn:hover{
  transform: scale(1.1);
}

.btn-block{
  display: block;
  background: var(--bg-dark-opacity-normal, rgba(0, 0, 50, 0.3));
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 1.2rem 0 1.1rem 0;
  width: 100%;
  margin: 1rem 0;
  transition: all .2s ease-in;
}

.btn-block:hover{
  transform: scale(1.1);
  background: var(--bg-dark-opacity-almax, rgba(0, 0, 50, 0.3));
}

label{
  margin-left: .5rem;
}

.form-control input[type=text], input[type=email], input[type=password]{
  border: none;
  width: 100%;
  padding: .6rem;
  border-radius: .3rem;
  background: var(--bg-dark-opacity-almax, rgba(0, 0, 50, 0.5));
  color: var(--font-color-bright, #E4E3FF);
  transition: all .1s ease-in;
}

.sign-log-form input::placeholder{
  color: var(--bg-dark-opacity-normal);
}

.sign-log-form 
input[type=text],
input[type=email],
input[type=password],
input[type=date]{
  color: var(--font-color-dark);
  background: var(--font-bright-opacity);
}

.form-control input:hover, textarea:hover{
  transform: scale(.99, 1.1);
}

.form-checkbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:1rem 0 0 0;
  width: 60%;
}

.task-importance{
  width: 1rem;
  background: var(--bg-dark-opacity-normal)
}

input[type=checkbox]{
  transform: scale(2);
  transition: all .2s ease-in-out;
}

input[type=checkbox]:hover{
  transform: scale(3);
}

.task-title{
  font-size: 1.2rem;
}

.show-task-title{
  font-size: 1.2rem;
  font-weight: normal;
  word-wrap: break-word;
  margin-bottom: 1rem;
  line-height: 1.4rem;
  width:80%;
}

.show-task-details{
  word-wrap: break-word;
  font-size: .9rem;
  font-weight: normal;
  width: 80%;
}

.task-details{
  font-family: inherit;
  font-size: .9rem;
  resize: none;
  border: none;
  width: 100%;
  padding: .6rem;
  border-radius: .3rem;
  background: var(--bg-dark-opacity-normal, rgba(0, 0, 50, 0.6));
  color: var(--font-color-bright, #E4E3FF);
  height: 100%;
  min-height: 5rem;
  max-height: 300px;
  transition: all .2s ease-in;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.modal{
  width: clamp(50%, 700px, 90%);
  height: min(70%, 700px);

  /* background: var(--bg-dark-opacity-light); */
  background: var(--bg-dark-opacity-normal);
  
  color: var(--font-color-bright);
  border-radius: .3rem;
  margin: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 4;
}

/* About screen styles */
.about-screen{
  padding: 6rem 0 4rem 0 ;
  border-radius: .4rem;
  background: var(--bg-dark-opacity-normal, rgba(0, 0, 50, 0.3));  
}

/* Footer styles */

footer{
  height: 5rem;
  align-items: center;
}

@media screen and (max-width: 1020px) {
  .welcome-s-content{
    flex-direction:column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
  }

  .welcome-btn{
    align-self: center;
  }

  .welcome-content-left{
    text-align: center;
    margin: 2rem 0 0 0;
    height: 15rem;
    /* flex: 1; */
  }

  .welcome-content-right{
    align-self: center;
    width: 90%;
  }
}

/* .App-link {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
