/* 
@font-color-bright: '#E4E3FF';
@font-color-dark: '#4D4A74';
@bg-gradient-bright: '90deg, #C9C8FF, #FFF0FB';
@bg-color-dark: '#3D3C5A'; 
*/


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li{
  text-decoration: none;
  list-style: none;
  color: inherit;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #3D3C5A;
  color: #E4E3FF;
}

.container{
  margin: auto;
  min-width: 300px;
  max-width: 1020px;
  width: 90%;
} 

header{
  width: 100%;
  position: fixed;
  top: 0px;
  background: url('./img/navbg.svg') center bottom repeat-x;
  filter: opacity(.9);
  transition: all .5s ease-in-out .3s;
  /* background-size: 70%; */
  /* background: linear-gradient(90deg, #463054, #615FA4); */
}

.header-stretch{
  background-size: 100vw 100vh;
}

nav{
  align-items: center;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-between;
  /* font-style: oblique; */
}

.Link{
  position: relative;
}

.Link::after{
  content: '';
  position: absolute; 
  height: 2px;
  width:0%;
  background: #E4E3FF;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease-in-out .2s;
}

.Link:hover::after{
  content: '';
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.btn{
  border: none;
  padding: .5rem 1rem;
  width: 8rem;
  border-radius: .3rem;
  color: #E4E3FF;
  cursor: pointer;
}

.logo{
  font-style: italic;
  font-size: 2rem;
}

.welcome-s{
  padding: 6rem 0 4rem;
  /* background: url('./img/bg-light-wavy.svg') left bottom no-repeat;
  background-size: 100% 100%; */
  background: linear-gradient(90deg, #C9C8FF, #FFF0FB);
  min-height: 100%;
}

.welcome-title{
  color: #7B73D3; 
}

.title-logo{
  color: #634AAC;
}

.welcome-s-content{
  margin-top: 2rem;
  display:flex;
  flex-wrap:wrap-reverse ;
  justify-content: center;
  align-items: center;
}

.welcome-btn{
  align-self: flex-end;
  background: #F4A100;
  font-size: 1.2rem;
}

.welcome-content-left{
  margin: 2rem;
  font-family: 'Poppins light', sans-serif;
  letter-spacing: .5px;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.welcome-content-right{
  display: flexbox;
  flex-shrink: calc(400px);
  min-width:400px;
  width: 50%;
}

/* Main section styles */

.calendar-items-container{
  display: flex;
  /* flex-wrap: wrap; */
}

.main-section{
  /* background: linear-gradient(90deg, #4C4A9E, #732C5F); */
  background: linear-gradient(90deg, #9493eb, #c169cd);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 3rem 0;
}

.main-section-title{
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 3rem;
}

.calendar{
  max-width: 800px;
  width: 70%;
  min-width: 500px;
  margin: auto;
  position: relative;
  z-index: 3;
}

.calendar-absolute-bg{
  position: absolute;
  z-index: -1;
  top: 0;
  width:100%;
  height:400px;
  border-radius: .7rem;
  background: rgba(72, 44, 94, 0.25);
}

.calendar-header{
  background: rgba(52, 38, 63, .7);
  border-radius: .7rem;
  padding: .4rem;
  text-transform: uppercase;
  font-family: 'Poppins light', sans-serif;
  font-size: 1.7rem;
  letter-spacing: 10px;
}

.calendar-table-inner{
  padding: .6rem;
  border-radius: .7rem;
  background: rgba(77, 74, 116, 0.5);
  margin: 1rem 1rem 0 -5vw;
  width: 100%;
  height: fit-content;
  max-width: 700px;
  min-width:400px;
  transition: all 0.3s ease-in-out;
}

.calendar-table-inner:hover{
  transform: scale(1.05)translate(-10px, 10px);
}  

.react-calendar__navigation *{
  font-size: 1.6rem;
}

.react-calendar__navigation{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background:rgba(28, 20, 51, 0.2);
  border-radius: .3rem;
  justify-content: space-between;
  transition: all .3s ease-in-out;
}
.react-calendar__navigation:hover{
  transform: scale(1.05)translateY(-5px);
}
.react-calendar__navigation button{
  width: 4rem;
  border: none;
  padding: .2rem;
  background:rgba(28, 20, 51, 0);
  border-radius: .3rem;
  color: inherit;
  transition: all .2s ease-in;
}

.react-calendar__navigation button:hover{
  background:rgba(28, 20, 51, 0.4);
  transform: scale(1.1);
}

.react-calendar__navigation__label{
  padding: .2rem;
  background:rgba(45, 1, 176, 0.4);
  border-radius: .3rem;
  pointer-events: none;
}

.react-calendar__month-view__weekdays *{
  text-decoration: none;
}

.react-calendar__month-view__days{
  background: rgba(77, 74, 116, 0.5);
  border-radius: .7rem;
  padding: .6rem;
  width: 100%;
  flex-flow: row;
  transition: all .3s ease-in-out;
}

.react-calendar__month-view__days:hover{
  transform: scale(1.05)translate(-10px, 10px);
}

.react-calendar__month-view__days button{
  font-family: 'Poppins';
  font-size: 1.6rem;
  font-weight: bolder;
  border-radius: .3rem;
  color: inherit;
  width: 4rem;
  height: 4rem;
  padding: .1rem 0;
  cursor: pointer;
  transform: scale(.96);
  border: none;
  background-color: rgba(28, 20, 51, 0.4);
  transition: all .1s ease-in;
}

.react-calendar__month-view__days button:hover{
  transform: scale(1.2);
  background-color: rgba(28, 20, 51, 0.9);
}

.react-calendar__month-view__days button:active{
  transform: scale(.9);
}

/* Main calendar TasksMenu styles*/

.tasks{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  width: 60%;
  height: 100%;
  max-height: 500px;
  margin: 1rem -5vw 0 0;
  padding: .6rem;
  border-radius: .3rem;
  background:rgba(28, 20, 51, 0.4);
  overflow: hidden;
  transition: all .4s ease-in-out;
}

.tasksWrapper{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding-right: 25px;
  box-sizing: content-box;
}

.tasks:hover{
  transform: scale(1.1)translate(10px, 18px);
}

.task{
  display: block;
  text-align: left;
  width: 100%;
  padding: .6rem;
  border-radius: .3rem;
  background:rgba(28, 20, 51, 0.4);
  position: relative;
  transition: all .2s ease-in-out;
  margin: .3rem 0;
}

.task-remind{
  /* background: linear-gradient(90deg, rgba(119, 0, 255, 0.4), rgba(242, 0, 255, 0.1)) */
  border-left: 2px solid rgb(136, 255, 0);
}

.task:hover{
  transform: scale(1.05)translateX(10px);
}

.task-date{
  font-style: italic;
  color: rgb(86, 255, 168, .4);
}

.createTaskBtn{
  display: block;
  font-size: 1rem;
  font-weight: bolder;
  border: 1px solid #E4E3FF;
  text-transform: uppercase;
  width: 95%;
  padding: .8rem;
  margin: .4rem 0;
  background:rgba(28, 20, 51, 0.4);
  transition: all .2s ease-in;
}

.createTaskBtn:hover{
  transform: scale(1.06)translateX(8px);
}

.fa-skull{
  position: absolute;
  right: 1rem;
  top: 50%;
  color:rgb(110, 249, 72); 
  transform: translateY(-50%);
  /* margin: 1rem 1rem 0 0; */
  font-size: 1.5rem;
  cursor: pointer;
  transition: all .1s ease-in;
}

.fa-skull:hover{
  transform: scale(1.2)translateY(-50%);
}

/* Add new task */
.add-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: .6rem;
  border-radius: .3rem;
  background:rgba(28, 20, 51, 0.4);
}

.form-control{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.btn-block{
  display: block;
  background: rgba(19, 0, 38, 0.6);
  width: 100%;
  margin: 1rem 0;
}

.form-control input{
  border: none;
  width: 100%;
  padding: .6rem;
  border-radius: .3rem;
  background: rgba(37, 32, 48, 0.5);
  color: #E4E3FF;
  transition: all .2s ease-in;
}

.form-control input:hover, textarea:hover{
  transform: scale(1.06);
}

.form-control input:focus{
  transform: scale(1.1);
  background: rgba(37, 32, 48, 1);
}

.form-checkbox{
  display: flex;
  align-items: center;
}

.task-importance{
  display: flex;
}

.task-title{
  font-size: 1.2rem;
}

.show-task-title{
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
  line-height: 1.4rem;
  width:80%;
}

.show-task-details{
  font-size: .9rem;
  font-weight: normal;
  width: 80%;
}

.task-details{
  font-family: inherit;
  font-size: .9rem;
  resize: none;
  border: none;
  width: 100%;
  padding: .6rem;
  border-radius: .3rem;
  background: rgba(37, 32, 48, 0.5);
  color: #E4E3FF;
  height: 100%;
  min-height: 5rem;
  max-height: 300px;
  transition: all .2s ease-in;
}

/* About screen styles */
.about-screen{
  padding: 6rem 0 4rem 0 ;
  border-radius: .4rem;
  background: rgba(0, 0, 0, 0.317)  
}

/* Footer styles */

footer{
  height: 5rem;
  align-items: center;
}

@media screen and (max-width: 1020px) {
  .welcome-s-content{
    flex-direction:column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
  }

  .welcome-btn{
    align-self: center;
  }

  .welcome-content-left{
    text-align: center;
    margin: 2rem 0 0 0;
    height: 15rem;
    /* flex: 1; */
  }

  .welcome-content-right{
    align-self: center;
    width: 90%;
  }
}

/* .App-link {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
